logs
target
*.class
*.log
.bsp
.idea
target
frontend/node_modules
./project/target

/.g8
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.env
.scannerwork
test/.DS_Store
/.bsp
.bloop
.metals
project/project/project
project/project/metals.sbt
project/metals.sbt
.scala-build
.vscode
